///////////////////////////////////////
// Logo
.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

///////////////////////////////////////
// Search
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__input {
    background-color: var(--color-grey-light-2);
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;
    &:focus {
      outline: none;
      background-color: var(--color-grey-light-3);
      width: 100%;
    }
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }
  &__input:focus + &.search__button {
    background-color: var(--color-grey-light-3);
  }
  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

///////////////////////////////////////
// User Navigation

.user-nav {
  &__icon-box {
  }

  &__icon {
    width: 2.25rem;
    height: 2.25rem;
  }

  &__notification {
  }

  &__user {
  }

  &__user-photo {
    width: 3.75em;
    height: 3.75rem;
    border-radius: 50%;
  }

  &__user-name {
  }
}
